<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whitesilver.alarmsettinglibrary">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.AlarmManager"
            android:value="com.whitesilver.alarmsettinglibrary.AlarmManager" />
    </application>

</manifest>